body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0;
    text-align: center;
}

header h1 {
    font-size: 4.2rem;
    font-weight: 400;
}

header a {
    text-decoration: none;
    color: #039be5;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 30pt;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h5 {
    font-size: 16pt;
    margin: 0px;
}

h6 {
    font-size: 13pt;
    margin: 0;
}

div {
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-align: center;
}
#slide1{
  background:url(forest.jpg) 50% 0 no-repeat fixed;
}
body {
    background-image: url(forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    max-width: 100%;
    height: auto;
}

p {
    width: 50%;
    font-size: 15pt;
    text-align: center;
    margin-left: 25%;
}

#aboutme {
    margin-top: 5em;
    height: 400px;
}

img {
  display: inline-block;
  height: 100px;
}
