@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-image: url(forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    padding: 0;
}

header {
    color: white;
    font-family: Baskerville;
    margin-left: 6em;
}

h1 {
    font-size: 30pt;
    margin-bottom: 0px;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 13pt;
}

.collapsible {
    width: 70%;
    margin-left: 10em;
    font-family: 'Roboto', sans-serif;
    border: none;
    box-shadow: none;
}

h2 {
    margin-bottom: 40px;
    color: white;
    border: none;
    text-align: center;
    font-family: Baskerville;
    transition: .5s;
}

h2:hover {
    color: rgba(27, 102, 106, 1)
}

.header1 {
    display: flex;
    height: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 15px;
}

a,
.headerli {
    padding: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: Baskerville;
    font-size: 20pt;
    transition: .5s;
}

a:hover {
    font-size: 25pt;
    color: rgba(27, 102, 106, 1)
}

.collapsible-body {
    color: white;
    background-color: rgba(0, 0, 0, .7);
    font-size: 15pt;
}

@media (min-width: 650px) {
    .header1 {
        justify-content: center;
    }
    .headerli {
        background-color: black;
        padding: 0px;
        margin-left: 10px;
        border-radius: 10%;
    }
    body {
      background-color: black;
    }
}
