div {
  font-family: 'Raleway', sans-serif;
}

ol {
  list-style-type:  upper-roman;
}
/*#box {
  height: 800px;
  border:  2px solid rgba(255,255,255,.2);
  width: 800px;
  margin-left: 260px;
  background: rgba(255,255,255,.4);
}*/

#container{
  width: 1000px;
  text-align: center;
    background: rgba(255,255,255,.4);
    margin-left: 200px;
}

h1 {
  font-size: 80pt;
}


h2 {
  font-size: 50pt;

}

h3 {
  font-size: 30pt;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  margin-left: 10px;
}

input {
  height: 20px;
}

 h1:hover, h2:hover, h3:hover  {

  font-family: 'Raleway Dots', cursive;
  background-color: rgba(123, 175, 224,.5);
}
body{
  background-image: url(http://www.all-my-favourite-flower-names.com/images/Fotolia_67914682_XS.jpg);
  background-size: cover;
  background-attachment: fixed;
}
